nodered.txt
[{"id":"6de7228f.aab64c","type":"mqtt out","z":"a2ad46b2.3e6c18","name":"","topic":"/123456/sensor4/humidity","qos":"","retain":"","broker":"f9bc5178.2a9928","x":965.1041259765625,"y":346.35418701171875,"wires":[]},{"id":"48755ac6.cfa864","type":"function","z":"a2ad46b2.3e6c18","name":"JSON Function / Array / Humidity","func":"// outputs: 2\nmsg.payload = msg.payload.sensordatavalues[3].value \nreturn msg;\n","outputs":"1","noerr":0,"x":611.3541259765625,"y":345.10418701171875,"wires":[["6de7228f.aab64c"]]},{"id":"21fea033.c672b","type":"http request","z":"a2ad46b2.3e6c18","name":"","method":"GET","ret":"obj","url":"http://yourip/data.json","tls":"","x":328.8889465332031,"y":235.55551147460938,"wires":[["55e2b3fe.242f2c","5c4072be.42b594","69eeeca.f85d794","48755ac6.cfa864"]]},{"id":"84a34c9a.42cac8","type":"inject","z":"a2ad46b2.3e6c18","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":152.77777099609375,"y":234.6666259765625,"wires":[["21fea033.c672b"]]},{"id":"55e2b3fe.242f2c","type":"function","z":"a2ad46b2.3e6c18","name":"JSON Function / Array / PM 10","func":"// outputs: 2\nmsg.payload = msg.payload.sensordatavalues[0].value \nreturn msg;\n","outputs":"2","noerr":0,"x":601.888916015625,"y":162.33328247070312,"wires":[["c68bb551.a3ba2","d5f8e351.06b08","426206fd.d02f28"],[]]},{"id":"5c4072be.42b594","type":"function","z":"a2ad46b2.3e6c18","name":"JSON Function / Array / PM 2.5","func":"// outputs: 2\nmsg.payload = msg.payload.sensordatavalues[1].value \nreturn msg;\n","outputs":"1","noerr":0,"x":607.3333740234375,"y":223.88888549804688,"wires":[["c68bb551.a3ba2","ddd8fc0d.b2c298","426206fd.d02f28"]]},{"id":"5fffa634.74b0f","type":"mqtt in","z":"a2ad46b2.3e6c18","name":"","topic":"Sensor1","qos":"2","broker":"f9bc5178.2a9928","x":136,"y":331,"wires":[["21fea033.c672b"]]},{"id":"69eeeca.f85d794","type":"function","z":"a2ad46b2.3e6c18","name":"JSON Function / Array / Temp","func":"// outputs: 2\nmsg.payload = msg.payload.sensordatavalues[2].value \nreturn msg;\n","outputs":"1","noerr":0,"x":598.0833129882812,"y":288.0833435058594,"wires":[["78940eef.51309"]]},{"id":"c68bb551.a3ba2","type":"debug","z":"a2ad46b2.3e6c18","name":"","active":true,"console":"false","complete":"false","x":959.9163818359375,"y":117.97212219238281,"wires":[]},{"id":"d5f8e351.06b08","type":"mqtt out","z":"a2ad46b2.3e6c18","name":"","topic":"/123456/sensor1/pm10","qos":"","retain":"","broker":"f9bc5178.2a9928","x":980.8887939453125,"y":156.55551147460938,"wires":[]},{"id":"426206fd.d02f28","type":"wiotp out","z":"a2ad46b2.3e6c18","authType":"d","qs":"true","qsDeviceId":"","deviceType":"","deviceId":"","event":"","format":"json","qos":"","name":"","x":915,"y":63,"wires":[]},{"id":"ddd8fc0d.b2c298","type":"mqtt out","z":"a2ad46b2.3e6c18","name":"","topic":"/123456/sensor2/pm25","qos":"","retain":"","broker":"f9bc5178.2a9928","x":966.41650390625,"y":223.4166717529297,"wires":[]},{"id":"78940eef.51309","type":"mqtt out","z":"a2ad46b2.3e6c18","name":"","topic":"/123456/sensor3/temp","qos":"","retain":"","broker":"f9bc5178.2a9928","x":950.0333251953125,"y":288.7001037597656,"wires":[]},{"id":"f9bc5178.2a9928","type":"mqtt-broker","z":"","broker":"mqtt.unixweb.de","port":"1883","clientid":"esp1234","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
