mobile/mobile.txt
[{"id":"3b5f9b93.424794","type":"mqtt out","z":"91ca40d1.67f738","name":"","topic":"mobile/sensor3","qos":"","retain":"","broker":"17485c8f.8039f3","x":882,"y":263,"wires":[]},{"id":"8f916001.f5a4a8","type":"function","z":"91ca40d1.67f738","name":"","func":"msg.payload = msg.payload[0].daten.sensordatavalues[1].value\nreturn msg;","outputs":"1","noerr":0,"x":678,"y":262,"wires":[["3b5f9b93.424794"]]},{"id":"5df74a6.301b8b4","type":"json","z":"91ca40d1.67f738","name":"","pretty":true,"x":505,"y":102,"wires":[["b73a39e6.330618","ce1ad716.4936","8f916001.f5a4a8"]]},{"id":"b73a39e6.330618","type":"function","z":"91ca40d1.67f738","name":"","func":"msg.payload = msg.payload[0].daten.sensordatavalues[2].value\nreturn msg;","outputs":"1","noerr":0,"x":686,"y":161,"wires":[["8a6c6d0.4d7651","589cb5f5.9ddf1c"]]},{"id":"ce1ad716.4936","type":"function","z":"91ca40d1.67f738","name":"","func":"msg.payload = msg.payload[0].daten.sensordatavalues[0].value\nreturn msg;","outputs":"1","noerr":0,"x":683,"y":210,"wires":[["a48b8083.e96bc8"]]},{"id":"de02067a.17bde8","type":"http request","z":"91ca40d1.67f738","name":"","method":"GET","ret":"txt","url":"http://iot.example.com/luftdaten/sensor.json","tls":"","x":326,"y":101,"wires":[["5df74a6.301b8b4"]]},{"id":"8a6c6d0.4d7651","type":"mqtt out","z":"91ca40d1.67f738","name":"","topic":"mobile/sensor1","qos":"","retain":"","broker":"17485c8f.8039f3","x":887,"y":160,"wires":[]},{"id":"589cb5f5.9ddf1c","type":"debug","z":"91ca40d1.67f738","name":"","active":true,"console":"false","complete":"false","x":975,"y":102,"wires":[]},{"id":"a48b8083.e96bc8","type":"mqtt out","z":"91ca40d1.67f738","name":"","topic":"mobile/sensor2","qos":"","retain":"","broker":"17485c8f.8039f3","x":888,"y":210,"wires":[]},{"id":"f4145678.65aa9","type":"inject","z":"91ca40d1.67f738","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":130,"y":100,"wires":[["de02067a.17bde8"]]},{"id":"17485c8f.8039f3","type":"mqtt-broker","z":"","broker":"mqtt.unixweb.de","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
